Source: ardb
Section: unknown
Priority: optional
Maintainer: Vincent Mele <vincentmele@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: 
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/ardb.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/ardb.git

Package: ardb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
